/* CSS Variables */

:root {
    --primary-font: 'Libre Franklin', sans-serif;
    --secondary-font: 'Cambay', sans-serif;
    --primary-color: #28174F;
    /* dark purple */
    --secondary-color: #2E2E2E;
    /* charcoal gray */
    --highlight-color: #64748B;
    /* gray blue */
    --highlight-color-light: #DAD0F1;
    /* soft lavender */
    --background-color: #EDE7E3;
    /* sand */
}

/* Global Styles */

h1 {
    font-family: var(--primary-font);
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

h2 {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}

h3 {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
}

h4 {
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary-color);
    line-height: 2rem;
}

body {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--secondary-color);
}



/* Button Styles */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--highlight-color-light);
    padding: auto;
}

.btn-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--highlight-color-light);
    opacity: 0.85;
    /* Slightly transparent on hover */
}

/* Navigation Styles */

.custom-navbar {
    background-color: var(--primary-color);
}

.custom-navbar .nav-link {
    color: var(--highlight-color-light);
}

.custom-navbar .nav-link:hover {
    color: var(--background-color);
}

.custom-navbar .nav-link.active {
    color: var(--highlight-color);
}

.custom-navbar .btn-primary {
    background-color: var(--highlight-color-light);
    border-color: var(--highlight-color-light);
    color: var(--primary-color);
    font-weight: bold;
    margin-right: 3rem;
}

.custom-navbar .btn-primary:hover {
    background-color: var(--highlight-color-light);
    border-color: var(--highlight-color-light);
    color: var(--primary-color);
    opacity: 0.85;
}

/* Main Content */

/* Hero Section */

.hero-image {
    max-width: 70%;
    height: auto;
}

.hero-section {
    background-color: var(--background-color);
}

/* About Section */

/* Carousel */

.carousel-inner {
    min-height: 400px;
  }
  

.carousel-inner img {
    max-width: 20%;
    height: auto;
    margin: 0 auto;
}

.carousel-indicators {
    bottom: -30px; /* Pushes the indicators further below the carousel */
  }

